.navbar{
    padding:15px 0px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.navbar .logo{
    width:100px;
}

.navbar-menu{
    display:flex;
    list-style:none;
    gap:20px;
    color:gray;
    font-size: 18px;
}
.navbar-right{
    display:flex;
    align-items:center;
    gap:40px;
}

.navbar button{
    background: transparent;
    border: 1px solid rgb(31, 112, 162);
    color:gray;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 50px;
    cursor:pointer;
    transition:0.3s;
}

.navbar button:hover{
    background-color: white;
}  

.navbar .active{
    padding-bottom:2px ;
    border-bottom:2px solid rgb(31, 112, 162);
}

.navbar li{
    cursor: pointer;
}

.navbar-search-icon{
    position: relative;
}


@media (max-width: 1050px) {
    
    .navbar-menu{
        gap:20px;
        font-size: 17px;
    }
    .navbar-right{
        gap:30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding:8px 25px;
    }
    .navbar .logo{
        width:140px;
    }
   
}

@media (max-width: 900px) {
    
    .navbar-menu{
        gap:15px;
        font-size: 16px;
    }
    .navbar-right{
        gap:30px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding:7px 20px;
        font-size: 15px;
    }
    .navbar .logo{
        width:120px;
    }
   
}
@media (max-width: 750px) {
    
    .navbar-menu{
        display:none;
    }
    
}


