@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

.Landlordheader {
  display: flex;
  flex-direction: row;
  align-items: stretch; /* Ensure both content and image take full height */
  justify-content: center;
  width: 100vw; /* Full width of the viewport */
  height: 60vh; /* Adjust height if necessary */
  margin: 0 auto; /* Center the container */
  gap: 0;
}

.Landlordheader-content {
  flex: 1; /* 1 part */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background-color: rgb(76, 79, 92);
  border-radius: 8px 0 0 8px; /* Rounded corners only on the left */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  animation: fadeIn 2s ease-out;
  color: white;
  height: 100%;
  font-family: 'Poppins', sans-serif; /* Apply Poppins font */
  text-align: center;
}

.Landlordheader-content h2 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #fff;
  text-transform: uppercase;
}

.Landlordheader-content p {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 20px;
  letter-spacing: 0.8px;
  color: #ffffff !important; /* Ensuring white color applies */
  font-weight: 300;
}

.Landlordheader-image {
  flex: 2; /* 2 parts */
  background: url('../../../assets/design2.jpeg') no-repeat center center/cover;
  border-radius: 0 8px 8px 0; /* Rounded corners only on the right */
  width: 100%;
  height: 100%;
}

/* Responsive Design */

/* Tablets */
@media (max-width: 1024px) {
  .Landlordheader {
    flex-direction: column;
    height: auto;
  }

  .Landlordheader-content,
  .Landlordheader-image {
    flex: unset;
    width: 100%;
    border-radius: 8px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .Landlordheader-content {
    padding: 20px;
  }

  .Landlordheader-content h2 {
    font-size: 2rem;
  }

  .Landlordheader-content p {
    font-size: 1rem;
  }
}
